# Multivariate Time Series - Multi-class Classification

## Import Modules

In [ ]:
# Standard Library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# 3rd Party
from sklearn.preprocessing import StandardScaler 
from sktime.transformations.panel.reduce import Tabularizer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression, RidgeClassifierCV
from sklearn.neighbors import KNeighborsClassifier 
from sktime.classification.distance_based import KNeighborsTimeSeriesClassifier
from sktime.transformations.panel.rocket import Rocket
from sktime.datasets import load_basic_motions

ModuleNotFoundError: ignored

## Data Collection

In [ ]:
# Upload dataset into training and testing
X_train_sktime, y_train = load_arrow_head(split="train", return_X_y=True)
X_test_sktime, y_test = load_arrow_head(split="test", return_X_y=True)

/usr/local/lib/python3.7/dist-packages/sktime/utils/data_io.py:66: FutureWarning: This function has moved to datasets/_data_io, this version will be removed in V0.10
  FutureWarning,

In [ ]:
# Display train data
pd.concat((X_train, pd.Series(y_train)), axis=1)

                                                dim_0  0
0   0     -1.9630
1     -1.9578
2     -1.9561
3   ...  0
1   0     -1.7746
1     -1.7740
2     -1.7766
3   ...  1
2   0     -1.8660
1     -1.8420
2     -1.8350
3   ...  2
3   0     -2.0738
1     -2.0733
2     -2.0446
3   ...  0
4   0     -1.7463
1     -1.7413
2     -1.7227
3   ...  1
5   0     -1.9828
1     -1.9789
2     -1.9373
3   ...  2
6   0     -2.0830
1     -2.0921
2     -2.0495
3   ...  0
7   0     -1.6336
1     -1.6432
2     -1.6137
3   ...  1
8   0     -1.7170
1     -1.7281
2     -1.6833
3   ...  2
9   0     -2.2453
1     -2.2239
2     -2.1719
3   ...  0
10  0     -1.8442
1     -1.8399
2     -1.8257
3   ...  1
11  0     -1.8337
1     -1.8277
2     -1.7764
3   ...  2
12  0     -2.1056
1     -2.1215
2     -2.0359
3   ...  0
13  0     -1.9005
1     -1.8827
2     -1.8685
3   ...  1
14  0     -2.1888
1     -2.1855
2     -2.1765
3   ...  2
15  0     -2.1645
1     -2.1785
2     -2.0660
3   ...  0
16  0     -2.0537
1     -2.0369
2     -2.0330
3   ...  1
17  0     -1.6537
1     -1.6510
2     -1.6319
3   ...  2
18  0     -2.1138
1     -2.0918
2     -2.0488
3   ...  0
19  0     -1.8822
1     -1.8806
2     -1.8658
3   ...  1
20  0     -1.9226
1     -1.9080
2     -1.8801
3   ...  2
21  0     -1.9888
1     -2.0247
2     -1.9262
3   ...  0
22  0     -1.7545
1     -1.7779
2     -1.7514
3   ...  1
23  0     -2.1597
1     -2.1756
2     -2.1656
3   ...  2
24  0     -2.1448
1     -2.1654
2     -2.1562
3   ...  0
25  0     -1.6320
1     -1.6301
2     -1.6075
3   ...  1
26  0     -2.2551
1     -2.2337
2     -2.2292
3   ...  2
27  0     -1.8289
1     -1.8415
2     -1.8063
3   ...  0
28  0     -2.0043
1     -1.9856
2     -1.9533
3   ...  1
29  0     -1.8293
1     -1.8324
2     -1.8226
3   ...  2
30  0     -2.1310
1     -2.1095
2     -2.0842
3   ...  0
31  0     -1.8976
1     -1.8961
2     -1.8432
3   ...  1
32  0     -1.6737
1     -1.6715
2     -1.6602
3   ...  2
33  0     -2.1308
1     -2.1044
2     -2.0748
3   ...  0
34  0     -1.8803
1     -1.8627
2     -1.8497
3   ...  1
35  0     -1.8010
1     -1.7989
2     -1.7784
3   ...  2

In [ ]:
# Display test data
pd.concat((X_test, pd.Series(y_test)), axis=1)

                                                 dim_0  0
0    0     -1.9078
1     -1.9049
2     -1.8886
3   ...  0
1    0     -1.8299
1     -1.8085
2     -1.7958
3   ...  0
2    0     -1.8016
1     -1.7757
2     -1.7285
3   ...  0
3    0     -1.8857
1     -1.8552
2     -1.8452
3   ...  0
4    0     -1.9591
1     -1.9749
2     -1.9714
3   ...  0
..                                                 ... ..
170  0     -1.6251
1     -1.6230
2     -1.6261
3   ...  2
171  0     -1.6578
1     -1.6647
2     -1.6326
3   ...  2
172  0     -1.6033
1     -1.5874
2     -1.5774
3   ...  2
173  0     -1.7390
1     -1.7415
2     -1.7329
3   ...  2
174  0     -1.6307
1     -1.6299
2     -1.6206
3   ...  2

[175 rows x 2 columns]

In this case, we have the option on how to split the training and test data. If we did not, we would have to use specific methods to create these datasets.

## Data Processing

In [ ]:
 # Create entire feature dataset
 data = pd.concat((X_train, X_test), axis=0).reset_index(drop=True)

In [ ]:
time_series_length = len(data.loc[0][0])
print("Time series length of each sample is:", time_series_length)

Time series length of each sample is: 251

In [ ]:
# Obtain target classes and their respective total count in training set
labels_train, counts_train = np.unique(y_train, return_counts=True)
print(labels_train, counts_train)

['0' '1' '2'] [12 12 12]

In [ ]:
# Obtain target classes and their respective total count in training set
labels_test, counts_test = np.unique(y_test, return_counts=True)
print(labels_test, counts_test)

['0' '1' '2'] [69 53 53]

There is an equal class split in the training data but a slight imbalance in the test data. Overall, this is not a massive issue and thus does not require the need for imbalanced data techniques.

## Data Modelling (without feature generation or feature selection)

### Splitting dataset

When dealing with time series classification modelling, we need a training and test data. We can also create validation data to check the overall performance of our algorithm. In this situation, the dataset has already been split into training and test data, otherwise we would have to use a specific splitting method.

In [ ]:
def time_wrap(model, X_train, y_train, X_test, y_test):
  from time import time
  t1 = time()
  model.fit(X_train, y_train)
  score = model.score(X_test, y_test)
  t2 = time()
  elapsed = t2 - t1
  print('Elapsed time is %f seconds.' % elapsed)
  print(f'Accuracy score: {score}')

In these problems, we can either us sklearn or other open-source libraries e.g. sktime, tslearn, pyts etc... For sklearn, and other libraries, we treat each observation/time-series as a separate feature and thus ignore they are ordered in time. A tabular algorithm cannot make use of the fact that features are ordered in time, i.e. if we changed the order of the features, the fitted model and predictions wouldn’t change. Sometimes this works well, sometimes it doesn’t.

### Logistic Regression (sklearn)

In [ ]:
# Tabularised algorithm
lr = make_pipeline(Tabularizer(), LogisticRegression(multi_class='ovr', max_iter=300)) 
time_wrap(lr, X_train_sktime, y_train, X_test_sktime, y_test)

Elapsed time is 0.070166 seconds.
Accuracy score: 0.7942857142857143

### KNN with Euclidean metric (sklearn)

In [ ]:
# Tabularised algorithm
knn_sklearn_euclidean = make_pipeline(Tabularizer(), KNeighborsClassifier(n_neighbors=1, metric='euclidean')) 
time_wrap(knn_sklearn_euclidean, X_train_sktime, y_train, X_test_sktime, y_test)

Elapsed time is 0.037786 seconds.
Accuracy score: 0.8

### KNN with Dynamic Time Warping (sktime)

In [ ]:
# Non-tabularised algorithm (same as sklearn)
# knn_sktime_dtw = KNeighborsTimeSeriesClassifier(n_neighbors=1, distance="dtw")
# knn_sktime_dtw.fit(X_train_sktime, y_train)
# time_wrap(knn_sktime_dtw, X_test, y_test)

**Note:** Due to large test size, this takes too long (30+ minutes), so we do not run it but rather show the pipeline.

### Rocket

In [ ]:
# Non-tabularised algorithm
rocket = Rocket()
rocket.fit(X_train_sktime)
X_train_sktime_transform = rocket.transform(X_train_sktime)
X_test_sktime_transform = rocket.transform(X_test_sktime)
ridge_clf = make_pipeline(StandardScalar(), RidgeClassifierCV(alphas=np.logspace(-3, 3, 10))
time_wrap(ridge_clf, X_train_sktime_transform, y_train, X_test_transform, y_test)

KeyboardInterrupt: ignored

**That's it! If you would like to know more about time series classification using K-Nearest Neighbours (with Dynamic Time Warping), check our the follow-up links on the confluence page. Additionally, you can approach Sid, Chrystalla or Paul on general Time Series information.**